@media only screen and (max-width: 1024px) {
    
    /* HEADER */

    header h1 {
        margin-top: 1em;
    }

    #info_disponibilites {
        margin-bottom: 0;
    }

    .hebergements {
        width: 100%;
    }

    #filtres_titre {
        margin-top: 1.5em;
        flex: 100%;
    }


    nav li:hover, nav li:active, nav li:focus {
        color: #0065FC;
        border-top: 0.2em solid #0065FC;
    }

    li a {
        color: inherit;
    }

    /* SECTION 1 */

    #section1 {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        margin: 0;
        margin-top: 2em;
        padding: 0;
    }

 
    /* SECTION 1: Hébergements populaires */

    #container_populaires {
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 1em 3em 3em 3em;
        grid-gap: 2em;
        font-size: 0.8em;
        border-radius: 0;
        order: 1;
    }

    #container_cartes_populaires {
        display: flex;
        flex-flow: column;
        grid-gap: 1.8em;
    }
    
    .populaires {
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 1em;
        padding: 0.38em;
        box-shadow: 0.009em 0.009em 1em rgb(150, 149, 149);
        width: 100%;
        height: 10em;
        justify-content: left;
        align-content: center;
    }
    
    .populaires_description {
        display: flex;
        flex-flow: column wrap;
    }
    
    .populaires_description h3 {
        font-size: 1em;
        margin-bottom: 0.2em;
    }
    
    .populaires_description p {
        font-size: 1em;
        margin-bottom: 0.2em;
        margin-left: 0;
    }
    
    .populaires_items {
        display: flex;
        flex-flow: column wrap;
        min-height: 100%;
        justify-content: space-evenly;
    }
    
    .etoiles {
        padding-top: 1.7em;
    }
    
    #header_populaires {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
    }

    /* SECTION 1: Hébergements dans la ville */

    #container_hebergements {
        display: flex;
        flex-flow: row wrap;
        background-color: transparent;
        justify-content: space-between;
        border-radius: 1em;
        padding: 0 3em 1em 3em;
        order: 2;
    }

    #container_cartes_hebergements {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        grid-gap: 1.8em;
        width: fit-content;
    }

    .hebergements {
        width: 20em;
        min-width: 20em;
    }

    .afficher_plus a:focus {
        color: #0065FC;
    }

    
    /* SECTION 2: Activités dans la ville */

    #section2 {
        padding: 0 3em 3em 3em;
    }
    
    #container_activites {
        display: grid;
        justify-content: left;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 12.19em 12.19em;
        grid-gap: 1.5em;
        border-radius: 1em 1em 0 0;
        font-size: 1rem;
    }
    
    #box1 {
        height: 9.2em;
    }
    
    #box4 {
        height: 9.2em;
    }
    
    #container_activites :nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    #container_activites :nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    #container_activites :nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    #container_activites :nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    #container_activites :nth-child(5) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    #container_activites :nth-child(6) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    /* FOOTER */

    footer ul {
        margin-right: 2em;
    }

    footer a:focus {
        color: #0065FC;
    }
    


@media only screen and (max-width: 600px) {
    
    body {
        margin: 0;
    }

/* HEADER */

    header {
        display: flex;
        flex-flow: column;
        align-content: center;
        padding: 0;
        margin: auto;
    }

    #top_header {
        grid-gap: 1.5em;
    }

    header h1 {
        padding-right: 1.5em;
    }

    header p {
        padding-right: 1.5em;
    }

    #top_header {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        padding: 0;
    }

    #top_header :nth-child(1) {
        order: 1;
    }

    #top_header :nth-child(2) {
        order: 3;
    }

    #top_header :nth-child(3) {
        order: 2;
    }

    #logo {
        padding-left: 1em;
    }

    nav {
        display: flex;
        margin-bottom: 1em;
        width: 100%;
        margin: auto;
    }

    ul {
        display: flex;
        width: 100%;
        margin: auto;
        padding: 0;
        list-style-type: none;
    }

    nav li {
        display: flex;
        border-bottom: 0.2em solid #F2F2F2;
        width: 100%;
        padding: 0;
        padding-bottom: 1em;
        justify-content: center;
        align-content: center;
    }

    nav li:hover, nav li:active, nav li:focus {
        color: #0065FC;
        border-top: 0;
        border-bottom: 0.2em solid #0065FC;
    }

    header h1 {
        padding: 0 1em;
    }

    header p {
        padding: 0 1.5em;
    }
    
    #header_bottom {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    #container_filtres {
        display: flex;
        flex-flow: row wrap;
        margin: 1em 0 2em 0;
        grid-gap: 1em;
        padding: 0 1.5em;
    }

    
    #filtres_titre {
        margin-top: 1.5em;
        flex: 100%;
    }

    form {
        display: flex;
        flex-flow: row nowrap;
        padding: 0 0 0 1.5em;
    }

    form :nth-child(2) {
        width: 100%;
    }

    #button_recherche {
        display: none;
    }

    .loupe {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        left: -1em;
        border-radius: 1em 1em 1em 1em;
        background-color:  #0065FC;
        min-height: 3.125em;
        min-width: 3.125em;
        width: 3em;
        justify-content: center;
        align-items: center;
    }

    .fas.fa-search {
        display:inline-block;
        position: relative;
        color: white;
    }

    #search {
        width: 100%;
    }

    #button_recherche {
        display: none;
    }
    
    #icon_location {
        height: 2.5em;
    }

    .loupe:hover {
        background-color:  #0d49a1;
        cursor: pointer;
    }

    #info_disponibilites {
        margin-left: 1.5em;
        margin-bottom: 1em;
    }


    /* SECTION 1 */

    #section1 {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: auto;
        padding: 0 0 2em 0;
    }

    #section1 :nth-child(1) {
        order: 2;
    }

    #section1 :nth-child(2) {
        order: 1;
    }

    #container_hebergements {
        display: flex;
        flex-flow: column wrap;
        background-color: transparent;
        justify-items: center;
        width: 20em;
        padding: 0 0 0 0;
        margin: 0;
    }

    #header_hebergements {
        width: 20em;
        padding-left: 0.5em;
    }
    
    #container_cartes_hebergements {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        grid-gap: 1.4em;
        margin: 0;
        padding: 0;
    }

    #container_hebergements img {
        width: 100%;
        height: 7.2em;
        border-radius: 1em 1em 0 0;
    }
    
    .hebergements {
        max-width: 19em;
        min-width: 19em;
    }

    #container_hebergements h2 {
        padding-right: 0;
        padding-left: 0;
        justify-self: left;
    } 

    .afficher_plus {
        padding-left: 0.5em;
        margin-top: 2em;
        max-width: 19em;
        min-width: 19em;
    }

    .afficher_plus a:focus {
        color: #0065FC;
    }


    #container_hebergements :nth-child(1) {
        order: 1;
    }

    #container_hebergements :nth-child(2) {
        order: 2;
    }

    #container_hebergements :nth-child(3) {
        order: 3;
    }

    #container_hebergements :nth-child(4) {
        order: 4;
    }

    #container_hebergements :nth-child(5) {
        order: 5;
    }

    #container_hebergements :nth-child(6) {
        order: 6;
    }

    #container_hebergements :nth-child(7) {
        order: 7;
    }

    #container_hebergements :nth-child(8) {
        order: 8;
    }

/*Populaires*/

    #container_populaires {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        border-radius: 0;
        background-color: #F2F2F2;
        margin: 0;
        padding: 0 1.25em 1.25em 1.25em;
        grid-gap: 1.4em;
        width: 100%;
    }

    #container_cartes_populaires {
        grid-gap: 1.4em;
        margin: 0 0 2.2em 0;
    }

    .populaires {
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 1em;
        padding: 0.38em;
        box-shadow: 0.009em 0.009em 1em rgb(150, 149, 149);
        max-width: 19em;
        min-width: 19em;
        box-sizing: border-box;
        height: 10em;
        justify-content: left;
        align-content: center;
    }

    #container_populaires :nth-child(1) {
        order: 1;
    }

    #container_populaires :nth-child(2) {
        order: 2;
    }

    #container_populaires :nth-child(3) {
        order: 3;
    }

    #container_populaires :nth-child(4) {
        order: 4;
    }


    /* SECTION 2: Activités */

    #section2 {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: auto;
        width: 100%;
    }

    #container_activites {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 0 0 1.25em 0;
        grid-gap: 1.4em;
    }
    
    #container_activites :nth-child(1) {
        grid-column: 1 / 1;
        grid-row: 1 / 2;
    }
    
    #box1 {
        height: 9.2em;
    }
    
    #container_activites :nth-child(2) {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
    }
    
    #container_activites :nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    #container_activites :nth-child(4) {
        grid-column: 1 / 1;
        grid-row: 1 / 3;
    }
    
    #box4 {
        height: 9.2em;
    }
    
    #container_activites :nth-child(5) {
        grid-column: 1 / 1;
        grid-row: 1 / 2;
    }
    
    #container_activites :nth-child(6) {
        grid-column: 1 / 1;
        grid-row: 2 / 3;
    }
    
    .description {
        height: 3.4em;
        border-radius: 0 0 1em 1em;
        padding: 1em 0 0 1.25em;
        align-items: center;
    }
    
    .activites {
        display: flex;
        flex-flow: column;
        max-width: 19em;
        min-width: 19em;
        height: 12em;
    }

    #head_activites {
        max-width: 19em;
        min-width: 19em;
    }
    

    /*FOOTER*/

    footer {
        display: flex;
        flex-flow: column wrap;
        padding: 2em;
        margin-right: 0em;
        width: auto;
    }
    
    footer li {
        display: block;
        padding-bottom: 1.25em;
    }

    footer ul {
        display: flex;
        flex-flow: column wrap;
        margin-right: 0;
    }

    footer a:focus {
        color: #0065FC;
    }
}