
@media screen and (max-width: 500px) { 
 

    #container {
        margin: auto;
    }

    a:visited {
        color: none;
    }

    a:active {
        color: none;
    }

    #top_header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    
    #top_header :nth-child(1) {
        order: 1;
        align-self: left;
    }
    
    #top_header :nth-child(2) {
        order: 3;
        align-self: left;
        border-bottom: 0.2em solid #F2F2F2;
    }

    #top_header :nth-child(2):hover {
        order: 3;
        border-bottom: 0.2em solid #0065FC;
        border-top: none;

        color: #0065FC;
    }
    
    #top_header :nth-child(3) {
        order: 4;
        border-bottom: 0.2em solid #F2F2F2;
        border-top: none;
    }
    
    #top_header :nth-child(3):hover {
        order: 4;
        border-bottom: 0.2em solid #0065FC;
        color: #0065FC;
    }

    #top_header :nth-child(4) {
        order: 2;
        border-top: none;
        font-weight: bold;
        color: #0065FC;
    }

    #top_header :nth-child(4):hover {
        order: 2;
        border-top: none;
        font-weight: bold;
        color: black;
    }
    
    
    #container_filtres {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin: 1em 0 1em 0;
        grid-gap: 1em
    }

    .filtres {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 0.1em solid #F2F2F2;
        border-radius: 1em;
        padding: 0;
        margin: 1em 0 0 0;
        height: 32px;
    }

    form {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: left;
    }

    #search {
        height: 2.5em;
        border: 0.2 solid #DEEBFF;
        width: 20em;
    }

    #button_recherche {
        display: none;
    }

    .fas.fa-search {
        display:inline-block;
        position: relative;
        left: -2em;
        color: white;
        background-color:  #0065FC;
        border: none;
        border-radius: 1em 1em 1em 1em;
        height: 1.9em;
        width: 3em;
    }

    #search {
        height: 3em;
        border: 0.1em solid #F2F2F2;
    }

    #icon_location {
        height: 2.5em;

    }

    .fas.fa-search:hover {
        background-color:  #0d49a1;
        cursor: pointer;
    }


    #section1 :nth-child(1) {
        order: 2;
    }

    #section1 :nth-child(2) {
        order: 1;
    }

    /* SECTION 2 */

    #section1 {
        display: flex;
        flex-flow: column nowrap;
    }

    #container_hebergements {
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    #container_hebergements img {
        width: 100%;
        height: 100%;

    #container_populaires {
        display: flex;
        flex-flow: column wrap;
        padding: 1em 2em 1em 2em;
        border-radius: 1em;
        margin: 1em 0 1em 0;
        grid-gap: 1em;
        font-size: 0.8em;
        align-self: flex-start;
        background-color: white;
    }

    #container_activites {
        display: flex;
        flex-flow: column nowrap;
        width: 20em;
        grid-gap: 2em;
        border-radius: 1em 1em 0 0;
        margin: 3em 0 4em 0;
    }

    #box1 {
        height: 12em;
        border-radius: 1em 1em 0 0;
        background-image: url("../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    #box4 {
        height: 12em;
        border-radius: 1em 1em 0 0;
        background-image: url("../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }


    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-color: #F2F2F2;
        margin: 20px 0 0 0;
        padding; 20px 0 0 px;
    }
}